:root{
  --primaria: #018038;
  --secundaria: #9edbb9;
  --terceira: #2D899E;
  --branco: #f0f5ef;
  --borda:rgb(221, 218, 218);
}


/*cabecalho*/
.marca{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.marca h1{
  color: var(--primaria);
  font-size: 70px;
}
.marca p{
  font-size: 25px;
  color: gray;
}
header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}


/*Navegação*/
.navbar {
  background-color: var(--secundaria);  
  padding: 10px;
  border-radius: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navbar ul li {
  padding: 0px 30px 0px 0px;
}
.navbar ul li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}


/*sessão*/
.sessao{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;  
  padding: 0px 50px 20px ; 
}
.sessao h2{ 
  padding: 20px;
  font-size: 50px;
  text-align: center;
  width: 100%;
  background-color: var(--borda);
  border-radius: 10px;
  
}
.sessao .product{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  
  padding: 20px;  
  text-align: center;
  font-size: 20px;  
}
.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 40px;
}
.product div{
  width: 150px;
}
.product div:last-of-type{
  width: 100%;
}
.product div img{
  width: 110px;
  height: 110px;
  border: 1px solid var(--borda);
  padding: 20px;  
}




/*Rodapé*/
.rodape {
  background-color: var(--secundaria);
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.rodape p {
  font-size: 14px;
}


@media (max-width: 600px) {
  .navbar ul{
    display: flex;
    justify-content: center;
  }
  .navbar ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .marca h1{
    padding: 20px;
  }
  .marca p{
    display: none;
  }
  .sessao{
    width: 90%;
  }
  .product{
    width: 100%;
    display: flex;    
  }
  .product div{
    width: 100%;
  }
  .product div img{
    width: 50%;
    height: 50%;
  }
}

/* Media queries para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar ul{
    display: flex;
    justify-content: center;
  }
  .navbar ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .marca p{
    width: 90%;
    text-align: center;
  }
  .sessao{
    width: 90%;
  }

}