:root {
  --primaria: #018038;
  --secundaria: #9edbb9;
  --terceira: #2d899e;
  --branco: #f0f5ef;
  --borda: rgb(221, 218, 218);
}
/*cabecalho*/
.marca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.marca h1 {
  color: var(--primaria);
  font-size: 70px;
}
.marca p {
  font-size: 25px;
  color: gray;
}
header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
/*Navegação*/
.navbar {
  background-color: var(--secundaria);
  padding: 10px;
  border-radius: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navbar ul li {
  padding: 0px 30px 0px 0px;
}
.navbar ul li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}
/*sessão*/

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.sessao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sessao h2 {
  grid-column: 1 / span 2;
  padding: 20px;
  font-size: 50px;
  background-color: #ff4500;
  border-radius: 50px;
  text-align: center;
  width: 100%;
}
.sessao article {
  padding: 20px;
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 1px solid var(--borda);
}

/*Rodapé*/
.rodape {
  background-color: var(--secundaria);
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.rodape p {
  font-size: 14px;
}

@media (max-width: 600px) {
  .navbar ul {
    display: flex;
    justify-content: center;
  }
  .marca h1 {
    padding: 20px;
  }
  .marca p {
    display: none;
  }
  .sessao {
    width: 100%;
    justify-content: center;
  }
}
/* Media queries para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar ul {
    display: flex;
    justify-content: center;
  }
  .marca p {
    width: 90%;
    text-align: center;
  }
.sessao {
    width: 100%;
    justify-content: center;
  }
}
