/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  section {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos específicos da página de perfil de compras */
  table th:first-child,
  table td:first-child {
    width: 20%;
  }
  
  table th:nth-child(2),
  table td:nth-child(2) {
    width: 30%;
  }
  
  table th:nth-child(3),
  table td:nth-child(3) {
    width: 10%;
  }
  
  table th:nth-child(4),
  table td:nth-child(4) {
    width: 15%;
  }
  
  table th:nth-child(5),
  table td:nth-child(5) {
    width: 25%;
  }
  
  table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  /* Estilizar status das compras */
  table td:last-child {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  table td:last-child[data-status="Entregue"] {
    background-color: #00cc00;
  }
  
  table td:last-child[data-status="Em Trânsito"] {
    background-color: #ffcc00;
  }
  
  table td:last-child[data-status="Pendente"] {
    background-color: #ff0000;
  }