:root{
  --primaria: #018038;
  --secundaria: #9edbb9;
  --terceira: #2D899E;
  --branco: #f0f5ef;
}


/*cabecalho*/
.marca{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.marca h1{
  color: var(--primaria);
  font-size: 70px;
}
.marca p{
  font-size: 25px;
  color: gray;
}
header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
/*Navegação*/
.navbar {
  background-color: var(--secundaria);  
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navbar ul li {
  padding:0px 30px;
}
.navbar ul li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}
/*sessão*/
.sessao{
  padding: 20px 50px;
}
.sessao h1, .rodape-contato h1{
  text-align: center;
  font-size: 30px; 
}
.sessao p::first-letter{
  padding-left: 2em ;
}
.rodape-contato{
  text-align: center;

}
/*Rodapé*/
.rodape {
  background-color: var(--secundaria);
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.rodape p {
  font-size: 14px;
}

@media (max-width: 600px) {
  .navbar ul{
    display: flex;
    justify-content: center;
  }
  .navbar ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .marca h1{
    padding: 20px;
  }
  .marca p{
    display: none;
  }
  .sessao{
    text-align: center;
  }
  
  
  
}

/* Media queries para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar ul{
    display: flex;
    justify-content: center;
  }
  .navbar ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .marca p{
    width: 100%;
    text-align: center;
  }
  .sessao{
    text-align: center;
  }
  
}